{% extends '_base.html' %}
{% block content %}

<h2 class="display-4">Książka z REST API</h2>

<p>
    <a href="/lista-api" class="btn btn-secondary">Wróć do listy</a>
</p>

<div class="jumbotron">
    <h1 class="display-4">{{ item.title }}</h1>
    <p class="lead">Autorem tej książki jest <strong>{{ item.author }}</strong>. Ostatnio kosztowała <strong>{{ item.price }}</strong>.</p>
    <hr class="my-4">
    {% if errors is defined and errors is not empty %}
    <div class="alert alert-warning" role="alert">
        {% for error in errors %}
        <p>{{ error }}</p>
        {% endfor %}
    </div>
    {% endif %}
    <form method="post">
        <div class="form-group">
            <label for="exampleInputTitle">Tytuł</label>
            <input type="text" class="form-control" name="title" value="{{ item.title }}" id="exampleInputTitle">
            <small class="form-text text-muted">Podaj tytuł książki</small>
        </div>
        <div class="form-group">
            <label for="exampleInputAuthor">Autor</label>
            <input type="text" class="form-control" name="author" id="exampleInputAuthor" value="{{ item.author }}">
            <small class="form-text text-muted">Podaj autora książki</small>
        </div>
        <div class="form-group">
            <label for="exampleInputPrice">Cena</label>
            <input type="text" class="form-control" name="price" id="exampleInputPrice" value="{{ item.price }}">
            <small class="form-text text-muted">Wpisz orientacyjną cenę książki</small>
        </div>

        <a href="/lista-api/{{ item.id }}" class="btn btn-secondary">Anuluj</a>
        <button type="submit" name="submit" class="btn btn-primary">Zapisz</button>
    </form>
</div>

{% endblock %}
