{% extends '_base.html' %}
{% block content %}

<h1 class="display-4">Lista książek z Allegro</h1>

<p class="lead">
    Pobieranie danych z API Allegro za pomocą bibliteki cURL. Autoryzacja z wykorzystaniem OAuth 2.0 ({{ grantType }}).
</p>

{% for item in items %}
<hr>
<div class="media">
    {% if item.images is not empty %}
    <img src="{{ item.images[0].url }}" style="width: 100px;max-height: 100px;" class="align-self-center mr-3">
    {% else %}
    <img src="/img/placeholder.jpg" style="width: 100px;" class="align-self-center mr-3">
    {% endif %}
    <div class="media-body">
        <h5 class="mt-0">{{ item.name }}</h5>
        <p>Sprzedawca: {{ item.seller.login }}</p>
        <p>Cena: {{ item.sellingMode.price.amount }} {{ item.sellingMode.price.currency }}</p>
    </div>
</div>
{% else %}
<p>Na liście nie ma żadnej książki.</p>

{% if authUrl is not empty %}
<a class="btn btn-lg btn-warning" href="{{ authUrl }}">Zaloguj do Allegro ({{ grantType }})</a>
{% endif %}

{% endfor %}

{% endblock %}
